<!--
  Generated template for the FisherRolePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
            <ion-title>Abalobi Register</ion-title>
    </ion-navbar>
</ion-header>


<ion-content title="Abalobi Register-role" id="fisher-role-form">

    <form [formGroup] = "roleForm">

                <p text-wrap style="text-align:center;padding-left:0.5em;padding-right:0.5em;background-color:#33CEFF;color:#FFFFFF;padding-left:0.5em">
                        <b>Select 'Fisher' if you are a fisher wanting to record and view your catch data using Abalobi.</b>
                </p>

                <ion-list radio-group type="text" formControlName='role' (ionChange)="roleChanged()">
                        <ion-item>
                                <ion-label>Fisher</ion-label>
                                <ion-radio  type="text" value ="Fisher" ></ion-radio>
                        </ion-item>

                        <ion-item>
                                <ion-label>Fisher Assistant</ion-label>
                                <ion-radio type="text" value ="Fisher Assistant"></ion-radio>
                        </ion-item>
                </ion-list>

                <div style="color:red" text-wrap align="center" class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.role" >
                                <div class="error-message" *ngIf="roleForm.get('role').hasError(validation.type)"> <!-- && (roleForm.get('role').dirty || roleForm.get('role').touched)"-->
                                        {{ validation.message }}
                                </div>
                        </ng-container>
                </div>

            <button ion-button full [disabled]="!roleForm.valid" (click)="nextFromFisherRole()">Next</button>
    </form>

</ion-content>
