<ion-header>
        <ion-navbar>
                <ion-title>Abalobi Register</ion-title>
        </ion-navbar>
</ion-header>



<ion-content padding title="fisher-personal-form" id="page5">

    <form [formGroup] = "personalForm">
            <ion-item>
                      <ion-label stacked>* Surname</ion-label>
                    <ion-input type="text" formControlName="surname" placeholder="Enter your surname here"(ionChange)="surnameChanged()"></ion-input>
            </ion-item>

            <div style="color:red" text-wrap align="center" class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.surname" >
                                <div class="error-message" *ngIf="personalForm.get('surname').hasError(validation.type) && (personalForm.get('surname').dirty || personalForm.get('surname').touched)">
                                    {{ validation.message }}
                                </div>
                        </ng-container>
            </div>


            <ion-item>
                        <ion-label stacked>* First Name</ion-label>
                        <ion-input type="text" formControlName="name" placeholder="Enter your name here"(ionChange)="nameChanged()"></ion-input>
            </ion-item>

            <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.name" >
                                <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('name').hasError(validation.type) && (personalForm.get('name').dirty || personalForm.get('name').touched)">
                                        {{ validation.message }}
                                </div>
                        </ng-container>
            </div>


            <ion-item>
                        <ion-label stacked>* Nickname</ion-label>
                        <ion-input type="text" formControlName="nickname" placeholder="What do people usually call you?"(ionChange)="nickNameChanged()"></ion-input>
            </ion-item>

            <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.nickname" >
                                    <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('nickname').hasError(validation.type) && (personalForm.get('nickname').dirty || personalForm.get('nickname').touched)">
                                            {{ validation.message }}
                                    </div>
                        </ng-container>
            </div>


            <ion-item>
                    <ion-label stacked>* Gender (Required)
                    </ion-label>
                        <ion-select formControlName="gender" (ionChange)=" genderChanged()">
                                  <ion-option value = "male">Male</ion-option>
                                  <ion-option value = "female">Female</ion-option>
                        </ion-select>
            </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.gender" >
                            <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('gender').hasError(validation.type) && (personalForm.get('gender').dirty || personalForm.get('gender').touched)">
                                    {{ validation.message }}
                            </div>
                    </ng-container>
            </div>


            <ion-item>
                      <ion-label stacked>* ID Number</ion-label>
                      <ion-input formControlName="ID"  type="text"  placeholder="Enter your ID Number here"(ionChange)="IDchanged()"></ion-input>
            </ion-item>
            <div class="validation-errors">
                        <ng-container *ngFor="let validation of validation_messages.ID" >
                                <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('ID').hasError(validation.type) && (personalForm.get('ID').dirty || personalForm.get('ID').touched)">
                                    {{ validation.message }}
                                </div>
                        </ng-container>
            </div>


            <ion-item>
                        <ion-label text-wrap stacked>* Personal Cellphone Number</ion-label>
                        <ion-input formControlName="cell"  type="text"   placeholder="Enter your cell number here"(ionChange)="cellChanged()"></ion-input>
            </ion-item>
            <div style="color:red" text-wrap align="center" class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.cell" >
                            <div class="error-message" *ngIf="personalForm.get('cell').hasError(validation.type) && (personalForm.get('cell').dirty || personalForm.get('cell').touched)">
                                    {{ validation.message }}
                            </div>
                    </ng-container>
            </div>


            <!--Password 1-->
            <ion-item>
                    <ion-label stacked>* Password</ion-label>
                    <ion-input  type="text"  formControlName="password1" placeholder="Please choose a password"(ionChange)="password1Changed()"></ion-input>
            </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password1" >
                            <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('password1').hasError(validation.type) && (personalForm.get('password1').dirty || personalForm.get('password1').touched)">
                                    {{ validation.message }}
                            </div>
                    </ng-container>
            </div>
            <!--span style="color:red" text-wrap align="center" class="validation-error" *ngIf="personalForm.get('password1').touched && personalForm.get('password1').errors?.notEqual"> Passwords do not match</span-->

            <!--Password 2-->
            <ion-item>
                    <ion-label stacked>* Retype password</ion-label>
                    <ion-input  type="text"  formControlName="password2" placeholder="Please re-type password"(ionChange)="password2Changed()"></ion-input>
            </ion-item>
            <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.password2" >
                            <div style="color:red" text-wrap align="center" class="error-message" *ngIf="personalForm.get('password2').hasError(validation.type) && (personalForm.get('password2').dirty || personalForm.get('password2').touched)">
                                {{ validation.message }}
                            </div>
                    </ng-container>
            </div>

            <span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&(personalForm.get('password2').value.length >= 1)&& personalForm.hasError('mismatchedPasswords')">Passwords do not match.</span>
            <!--span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&!personalForm.hasError('mismatchedPasswords')&& personalForm.hasError('badPasswords')">Passwords must have at least 6 characters.</span-->
        <span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&!personalForm.hasError('mismatchedPasswords')&& personalForm.hasError('badPasswords')">Passwords must have at least 6 characters.</span>
        <!--span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&!personalForm.hasError('mismatchedPasswords')&& personalForm.hasError('noUpperCase')">Password must contain at least one uppercase letter.</span>
        <span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&!personalForm.hasError('mismatchedPasswords')&& personalForm.hasError('noLowerCase')">Password must contain at least one lower case letter.</span>
        <span style="color:red" text-wrap align="center" class="validation-errors" *ngIf="(personalForm.get('password1').value.length >= 1)&&!personalForm.hasError('mismatchedPasswords')&& personalForm.hasError('noNum')">Password must contain at least one digit.</span-->


            <button ion-button type="submit"  [disabled]="!personalForm.valid" full  (click)="onFisherFinishPersonal()">Next</button>
    </form>

</ion-content>
